<?xml version="1.0"?>
<config>
    <modules>
        <Gaiterjones_GDPR>
            <version>1.1.4</version>
        </Gaiterjones_GDPR>
    </modules>
    <frontend>
        <layout>
            <updates>
                <gaiterjones_gdpr>
                    <file>gaiterjones/gdpr.xml</file>
                </gaiterjones_gdpr>
            </updates>
        </layout>
        <routers>
            <gaiterjones_gdpr>
                <use>standard</use>
                <args>
                    <module>Gaiterjones_GDPR</module>
                    <frontName>gaiterjones_gdpr</frontName>
                </args>
            </gaiterjones_gdpr>
        </routers>
		<translate>
			<modules>
				<Gaiterjones_GDPR>
					<files>
						<default>Gaiterjones_GDPR.csv</default>
					</files>
				</Gaiterjones_GDPR>
			</modules>
		</translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gaiterjones_gdpr before="Mage_Adminhtml">Gaiterjones_GDPR_Adminhtml</gaiterjones_gdpr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <gaiterjones_gdpr>
                <class>Gaiterjones_GDPR_Block</class>
            </gaiterjones_gdpr>
        </blocks>
        <models>
            <gaiterjones_gdpr>
                <class>Gaiterjones_GDPR_Model</class>
            </gaiterjones_gdpr>
        </models>
        <helpers>
            <gaiterjones_gdpr>
                <class>Gaiterjones_GDPR_Helper</class>
            </gaiterjones_gdpr>
        </helpers>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <gaiterjones_gdpr_model_resource_observer>
                        <class>Gaiterjones_GDPR_Model_Observer</class>
                        <method>addAnonymiseButton</method>
                    </gaiterjones_gdpr_model_resource_observer>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <template>
            <email>
                <gaiterjones_gdpr_confirm translate="label" module="gaiterjones_gdpr">
                    <label>Gaiterjones GDPR Confirm</label>
                    <file>gaiterjones/gdpr/confirm.html</file>
                    <type>html</type>
                </gaiterjones_gdpr_confirm>
                <gaiterjones_gdpr_success translate="label" module="gaiterjones_gdpr">
                    <label>Gaiterjones GDPR Success</label>
                    <file>gaiterjones/gdpr/success.html</file>
                    <type>html</type>
                </gaiterjones_gdpr_success>
            </email>
        </template>
    </global>
    <default>
        <gaiterjones_gdpr>
            <options>
                <enabled>1</enabled>
            </options>
            <configuration>
                <cms_page>home</cms_page>
            </configuration>
        </gaiterjones_gdpr>
    </default>
</config>
